<h1>Log in!</h1>

<form action="<%= session_url %>" method="post">
  <input type="text" name="user[username]" placeholder="Username" />
  <input type="password" name="user[password]" placeholder="Password" />

  <input type="submit" value="Submit!" />

</form>
